<!-- ========== HEADER ========== -->
<header class="flex flex-wrap xl:justify-start xl:flex-nowrap min-h-24 z-50 box-border w-full 
         bg-white/70 backdrop-blur-md border-b shadow-md border-gray-100 sticky top-0">
    <nav
        class="relative container w-full mx-auto xl:flex xl:items-center xl:justify-between xl:gap-3 py-2 px-2 sm:px-6 xl:px-8">

        <!-- Logo + Toggle -->
        <div class="flex justify-between items-center gap-x-1 h-fit">
            <a class="flex-none font-semibold text-xl text-black ms-0 w-60">
                <img src="assets/images/hrimag.png" alt="Brand Logo" />
            </a>

            <!-- Toggle button (Mobile only) -->
            <button type="button"
                class="xl:hidden relative size-11 flex justify-center items-center rounded-lg border border-gray-200 text-gray-800 hover:bg-gray-100 me-6"
                (click)="toggleMenu()">
                <!-- Hamburger -->
                @if(!isMenuOpen()) {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#000000"
                    fill="none">
                    <path d="M4 5L16 5" stroke="#141B34" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M4 12L20 12" stroke="#141B34" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M4 19L12 19" stroke="#141B34" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                }@else{
                <!-- Close -->
                <svg class="relative z-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"
                    color="#4a90e2" fill="none">
                    <path
                        d="M12 21.5H12H12C16.4783 21.5 18.7175 21.5 20.1088 20.1088C21.5 18.7175 21.5 16.4783 21.5 12V12V12C21.5 7.52165 21.5 5.28248 20.1088 3.89124C18.7175 2.5 16.4783 2.5 12 2.5C7.52166 2.5 5.28249 2.5 3.89124 3.89124C2.5 5.28249 2.5 7.52166 2.5 12C2.5 16.4783 2.5 18.7175 3.89124 20.1088C5.28248 21.5 7.52165 21.5 12 21.5Z"
                        stroke="#4a90e2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M15 9L9 14.9996M15 15L9 9.00039" stroke="#4a90e2" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
                }
            </button>
        </div>

        <!-- Collapsible Menu (Mobile Overlay) -->
        <div class="fixed inset-0 h-screen bg-black bg-opacity-90 text-white flex flex-col items-center justify-center gap-6 z-40 transition-all duration-300 xl:hidden"
            *ngIf="isMenuOpen()">

            <!-- Nav Links -->
            <div class="flex flex-col items-center gap-4">
                @for (item of navLinks; track $index) {
                <a (click)="scrollToSection(item.id)" [ngClass]="{'bg-gray-100 text-gray-900 font-medium': activeSection() === item.id,'text-gray-700': activeSection() !== item.id
                }" class="p-2 px-3 rounded-lg cursor-pointer transition hover:bg-gray-100">
                    {{ item.label }}
                </a>
                }
            </div>

            <!-- Buttons -->
            <div class="flex flex-col gap-4 w-40">
                <a
                    class="py-2 px-3 rounded-lg font-medium text-center text-base h-full bg-primary text-white hover:bg-sky-600">Request
                    Demo</a>
            </div>
        </div>

        <!-- Desktop Menu -->
        <div class="hidden xl:block">
            <div class="flex flex-row items-center gap-6">
                @for (item of navLinks; track $index) {
                <a (click)="scrollToSection(item.id)" [ngClass]="{'bg-gray-100 text-gray-900 font-medium': activeSection() === item.id,'text-gray-700': activeSection() !== item.id
                }" class="p-2 px-3 rounded-lg cursor-pointer transition hover:bg-gray-100">
                    {{ item.label }}
                </a>
                }
            </div>
        </div>
        <div class="hidden xl:flex h-10 gap-4">
            <a
                class="py-2 px-3 rounded-lg font-medium hover:scale-105 cursor-pointer transition-all duration-1000 hover:-translate-y-1 text-center text-base h-full bg-primary text-white hover:bg-sky-600">Request
                Demo</a>
        </div>
    </nav>
</header>
<!-- ========== END HEADER ========== -->