<!-- <footer class="bg-gray-50" >
    <div class="container w-full mx-auto px-10  p-10 lg:p-16">
        <img data-aos="fade-up" data-aos-duration="1000" src="assets/images/logo.svg" alt="">
    </div>
    <div class="bg-primary relative">

        <div class="absolute top-1/2 -translate-y-1/2 -translate-x-1/2 left-1/2 h-[500px] w-[500px] z-10
        bg-white rounded-full opacity-60 
        blur-[140px]">
        </div>
        
        <div class="border-t-2 border-white">
            <div class="container mx-auto py-11 px-10 flex md:flex-row flex-col items-center justify-between gap-5">
                <p  class="font-normal font-rethink-sans text-white" >
                    Copyright © All Rights Reserved by HRconnect
                </p>
                <div class="flex gap-5 md:gap-9 ">
                    @for (item of socialIcons; track $index) {
                    <a  href="{{item.link}}" target="_blank"
                        rel="noopener noreferrer"
                        class="w-11 h-11 rounded-full bg-white group transition-all duration-200 cursor-pointer hover:!translate-y-[-8px] p-3 flex items-center justify-center">
                        <i class="text-Secondary transition-all duration-300 group-hover:text-primary text-xl"
                            [ngClass]="item.icon"></i>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</footer> -->


<footer class="bg-primary text-white py-16 lg:px-6 ">
  <div class="max-w-7xl mx-auto px-6 lg:px-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 lg:gap-8">
    <!-- Brand -->
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2 class="text-3xl font-extrabold text-white mb-3">
        <img src="assets/images/HRC.png" alt="" class="text-white">
      </h2>
      <p class="text-sm text-gray-300">Smart HR solutions for modern businesses. Manage your workforce efficiently.</p>
    </div>

    <!-- Quick Links -->
    <div data-aos="fade-up" data-aos-duration="1000">
      <h3 class="text-white font-extrabold mb-4">Quick Links</h3>
      <ul class="space-y-2">
        @for (link of quickLinks; track $index) {
        <li>
          <a [routerLink]="link.path" class="text-gray-300 hover:text-white transition">{{ link.label }}</a>
        </li>
        }
      </ul>
    </div>

    <!-- Legal -->
    <div data-aos="fade-up" data-aos-duration="1000">
      <h3 class="text-white font-extrabold mb-4">Legal</h3>
      <ul class="space-y-2">
        @for (link of legalLinks; track $index) {
        <li>
          <a [routerLink]="link.path" class="text-gray-300 hover:text-white transition">{{ link.label }}</a>
        </li>
        }
      </ul>
    </div>

    <!-- Newsletter -->
    <div data-aos="fade-up" data-aos-duration="1000">
      <h3 class="text-white font-extrabold mb-4" >Newsletter</h3>
      <p class="text-sm mb-4 text-gray-300">Get HR tips and product updates.</p>

      <div class="flex flex-col gap-3">
        <input type="email" [(ngModel)]="email" placeholder="Enter your email"
          class="w-full px-3 py-2 rounded-lg text-black outline-none" />
        <button (click)="subscribe()"
          class="bg-white text-primary px-4 py-2 rounded-lg hover:scale-105 transition-all duration-300 w-32">
          Subscribe
        </button>
      </div>
    </div>

  </div>

  <!-- Bottom -->
  <div class="mt-10 border-t border-white/30 pt-4 text-center text-sm text-gray-300 font-semibold" >
    © 2024 HR Connect. All rights reserved
  </div>

</footer>